@layer components {
    .text-info {
        @apply text-blue-600 dark:text-blue-400;
    }
    
    .text-warning {
        @apply text-yellow-600 dark:text-yellow-400;
    }
    
    .text-danger {
        @apply text-red-600 dark:text-red-400;
    }
    
    .text-success {
        @apply text-green-600 dark:text-green-400;
    }
    
    .text-primary {
        @apply text-indigo-600 dark:text-indigo-400;
    }
    
    .text-secondary {
        @apply text-gray-600 dark:text-gray-400;
    }
    
    .text-dark {
        @apply text-gray-900 dark:text-gray-100;
    }
    
    .text-light {
        @apply text-gray-100 dark:text-gray-900;
    }
}